/* Header */
header {
    padding: 48px 250px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px 0;
}

.header--intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.header__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
}

.header__menu > li > a {
    white-space: nowrap;
}

/* Intro */
.intro--container {
    background: var(--color-grad-blue);
}

.intro--container .wrapper {
    margin-bottom: 0;
}

.intro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 66px;
    padding-bottom: 100px;
}

.intro .info h1 {
    margin-bottom: 16px;
}

.intro .info .buttons {
    margin-top: 32px;
}

.intro--pictures {
    position: relative;
}

.intro--pictures img {
    height: 459px;
    width: 705px;
}

/* Service stuff */
.picture__edging {
    background-color: var(--color-blue);

    position: absolute;
    bottom: calc((-459px / 8.196428571428571) + 10px);
    right: calc((-722px / 12.89285714285714) - 2px);

    z-index: -100;
    border-bottom-right-radius: 48px;
    width: 250px;
    aspect-ratio: 1;
}

.gradients {
    position: relative;
}

.gradients > div {
    position: absolute;
    bottom: 0;
    right: -13vw;
}

.gradient_first {
    background-color: rgba(35, 46, 209, 0.05);
    height: 700px;
    aspect-ratio: 1;
    z-index: -2;
}

.gradient_second {
    height: 550px;
    aspect-ratio: 1;
    z-index: -2;
    background-color: rgba(35, 46, 209, 0.05);
}

/* Features */

.logos {
    display: flex;
    flex-flow: column wrap;
    gap: 50px;
    margin-bottom: 100px;
}

.logos p {
    margin: 0 auto;
}

.logos--items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.features--info {
    padding: 0 5vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 112px;
}

.features--items {
    width: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-gap: 32px;
}

.feature--item {
    width: 260px;
    aspect-ratio: 1;
    border-radius: 12px;

    padding: 48px 60px 32px 40px;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.feature--item:nth-of-type(odd) {
    top: 40px;
    position: relative;
}

.feature--item:nth-child(4n+1),
.feature--item:nth-child(4n+2) {
    background: var(--color-grad-blue);
}

.feature--item:nth-child(4n+3),
.feature--item:nth-child(4n+4) {
    background: var(--color-grad-orange);
}

.item--description {
    font-weight: 600;
    line-height: 36px;
    font-size: var(--fz-medium);
}

.feature--item:nth-child(4n+1) .item--description,
.feature--item:nth-child(4n+2) .item--description {
    color: var(--color-blue);
}

.feature--item:nth-child(4n+3) .item--description,
.feature--item:nth-child(4n+4) .item--description {
    color: var(--color-orange);
}

/* Big Picture */
.big_picture {
    position: relative;
    margin-bottom: 270px;
}

.big_picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.big_picture__info {
    background-color: var(--color-blue);

    position: absolute;
    bottom: -141px;
    right: 0;
    padding: 90px;
    width: 71%;

    max-width: 1360px;
    max-height: 303px;

    border-top-left-radius: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 90px;
}

.big_picture__title,
.big_picture__description {
    color: #fff;
}

.big_picture__title {
    font-weight: 600;
    font-size: var(--fz-big);
    max-width: 320px;
}

.big_picture__description {
    max-width: 600px;
}

/* Features cards */
.features--cards .wrapper {
    padding-top: 0;
}

.features--cards {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    gap: 12vh;
}

.features--card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: max(5vw, 5vh);
}

.background--picture {
    min-width: 55%;
    padding: 5vw;
    border-radius: 31px 31px 0 31px;
}

.background--picture img {
    max-width: 100%;
    height: 100%;
}

.info--features .buttons .button--simplest {
    color: var(--text-simplest);
}

.features--card:nth-child(2n+1) .background--picture {
    background: var(--color-grad-blue);
}

.features--card:nth-child(2n) .background--picture {
    background: var(--color-grad-orange);
}

.features--card:nth-child(2n) {
    flex-direction: row-reverse;
}

/* Customer reviews */
.customer--reviews .wrapper {
    margin-bottom: 128px;
}

.customer--wrapper {
    display: flex;
    flex-flow: column wrap;
    gap: 48px;
}

.reviews--cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 16px;
}

.reviews--card {
    display: flex;
    flex-flow: column nowrap;
    max-width: 452px;
    gap: 24px;

    padding: 32px;

    border-radius: 12px;
    background: var(--color-grad-blue);
}

.review--info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 16px;
}

.review--info > img {
    width: 60px;
    aspect-ratio: 1;
}

.review--customer {
    font-size: var(--fz-submedium);
    color: #000000;
}

.review--rating > img {
    max-width: 20px;
    max-height: 20px;
}

.review--description {
    color: var(--text-black);
}

/* FAQ */
.faq--wrapper {
    padding: 0 12vw;

    display: flex;
    flex-flow: column wrap;
    gap: 100px;
}

.questions--items {
    display: flex;
    flex-flow: column wrap;
    gap: 48px;
}

.questions--item {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    gap: 24px;
}

/*
.questions--item:not(:first-of-type)::before  {
    content: "";
    width: 100%;
    height: 1px;
    margin-bottom: 24px;
    background: black;
}
*/

.faq.wrapper {
    margin-bottom: 132px;
}

.question--title {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 20px;
}

.question--number {
    font-size: var(--fz-medium);
    line-height: 32px;
    max-width: 30px;
}

.question--number.active {
    color: var(--color-blue);
}

.question--description {
    display: none;
    opacity: 0;
    transition-property: display, opacity;
    transition-duration: 0s, 500ms;
}

.question--description.active {
    display: block;
    opacity: 1;
}

/* Notification */
.notification {
    transform: translateY(-50%);
}

.notification .wrapper {
    margin-bottom: 0;
}

.notification--background {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: var(--color-blue);
}

.notification--wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 14vh 6vw;
}

.notification--wrapper h2 {
    max-lines: 2;
    max-width: 12ch;
}

/* Footer */
footer {
    background: #EFF0F8;
}

footer .wrapper {
    display: flex;
    flex-flow: column wrap;
    gap: 120px;

    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 80px;
}

.footer--nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer--socials {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__menu {
    min-width: 44vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer__menu li {
    min-width: 111px;
}

.footer__menu li > h4 {
    margin-bottom: 48px;
}

.menu--items {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 24px;
}

.footer--info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.subscribe--form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    background: #fff;
    border-radius: 5px;
    min-width: 44vw;
    padding: 0 20px;
}

.address {
    line-height: 33px;
    letter-spacing: -0.03em;
}

.subscribe--input {
    text-align: start;

    display: inline-block;
    flex-grow: 1;
    padding: 32px;
}

.subscribe--form button.button-orange {
    flex-shrink: 0;
}

.copyright {
    padding-top: 20px;
    padding-bottom: 20px;

    background: var(--color-blue);
    color: #fff;

    text-align: center;
}

@media screen and (max-width: 386px) {
    *,
    *::before,
    *::after {
        font-size: var(--fz-medium) !important;
    }

    .notification--wrapper {
        padding: 5vh 3vw;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 50px 150px 0;
    }

    h1, h2, h3, h4 {
        text-align: center;
    }

    p {
        word-wrap: break-word;
    }

    .wrapper, * > .wrapper {
        /*padding: 8vw 5vw 15vw;*/
        margin: 8vw 2vw 15vw !important;
    }

    .buttons {
        justify-content: center;
        gap: 20px;
    }

    .info {
        align-items: center !important;
    }

    .logos, .logos > .logos--items {
        justify-content: center;
        gap: 10px;
    }

    .features--info {
        justify-content: center;
    }

    .features--items {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-auto-flow: column;

        justify-items: center;
    }

    .feature--item {
        padding: 0;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .feature--item:nth-of-type(odd) {
        top: 0;
        position: relative;
    }

    .item--description {
        width: min-content;
    }

    .big_picture {
        margin-bottom: 40px;
    }

    .big_picture__info {
        position: relative;
        flex-flow: row wrap;
        gap: 10px !important;
        padding: calc(96px / 4);
        overflow: hidden;
        bottom: 0;

        justify-content: center;
    }

    .big_picture__description {
        display: none;
    }

    footer .wrapper {
        margin-top: 0 !important;
    }

    .footer--nav {
        gap: 50px;
    }

    .footer--nav, .menu--items {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .subscribe--form {
        padding: 20px;
    }
    
    .subscribe--input {
        text-align: center;
    }
}

@media screen and (max-width: 1400px) {
    header {
        justify-content: center;
    }

    .features--info {
        flex-flow: row wrap;
    }

    .features--card {
        flex-wrap: wrap;
    }

    .features--card .info--features {
        align-items: center;
        text-align: center;
    }

    .features--card .info--features > .buttons {
        justify-content: center;
    }

    .notification--wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .footer--info {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1700px) {
    .intro--pictures, .gradients {
        display: none;
    }

    .big_picture__info {
        margin: 0 auto;
        position: relative;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1900px) {
    .reviews--cards {
        justify-content: center;
    }
}