:root {
    --text-regular: #5B5B5B;
    --text-black: #0D1317;

    --fz-regular: 18px;
    --fz-submedium: 22px;
    --fz-medium: 24px;
    --fz-big: 48px;
    --fz-biggest: 64px;

    --color-blue: #232ED1;
    --color-grad-blue: linear-gradient(180deg, rgba(182, 186, 255, 0.2) 0%, rgba(35, 46, 209, 0.2) 100%);
    --color-orange: #F24C27;
    --color-grad-orange: linear-gradient(180deg, rgba(255, 204, 192, 0.3) 0%, rgba(242, 76, 39, 0.3) 100%);

}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: var(--fz-regular);
    color: var(--text-regular);
    /*border: 1px solid red;*/
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    color: var(--text-black);
    letter-spacing: -0.03em;
    line-height: 68px;
}

p {
    line-height: 30px;
}

button {
    border: none;
    background-color: inherit;
}

* {
    box-sizing: border-box;
}

a:hover {
    color: var(--color-blue);
}

button.button--simplest {
    line-height: 27px;
}

button.button--simple {
    width: fit-content;
    height: fit-content;
    padding: 16px 30px;
    border: 2px solid rgba(35, 46, 209, 0.4);
    border-radius: 5px;
    color: var(--text-black) !important;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

button.button--blue {
    background: var(--color-blue);
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

button.button-orange {
    background: var(--color-orange);
    border-radius: 5px;
}

.wrapper {
    padding: 8vw 13vw 15vw;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 48px;
    justify-content: flex-start;
}

.info, .info--features {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.subtitle {
    color: var(--color-blue);
}

.info--features {
    gap: 24px;
}
